api = "0.8"

[buildpack]
  description = "A buildpack for running the `dotnet publish` command for an app"
  homepage = "https://github.com/paketo-buildpacks/dotnet-publish"
  id = "paketo-buildpacks/dotnet-publish"
  keywords = ["dotnet"]
  name = "Paketo Buildpack for .NET Publish"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/dotnet-publish/blob/main/LICENSE"

[metadata]
  include-files = [
    "buildpack.toml",
    "linux/amd64/bin/build",
    "linux/amd64/bin/detect",
    "linux/amd64/bin/run"
  ]
  pre-package = "./scripts/build.sh --target linux/amd64"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"
