api = "0.5"

[buildpack]
  homepage = "https://github.com/paketo-buildpacks/dotnet-publish"
  id = "paketo-buildpacks/dotnet-publish"
  name = "Paketo .NET Publish Buildpack"
  version = "{{ .Version }}"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml", "go.mod", "go.sum"]
  pre-package = "./scripts/build.sh"

[[stacks]]
  id = "org.cloudfoundry.stacks.cflinuxfs3"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"
